body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
}

.top-extra {
    background-color: #0788d4;
    height: 56px;
}

.top-extra a {
    color: white;
}

.big-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../dist/imgs/big-bg.png");
    background-size: 100% 100%;
}

.login-outline {
    background-image: url("../../dist/imgs/login.png");
    background-size: 100% 100%;
    width: 470px;
    height: 420px;
    padding-top: 20px;
    padding-left: 66px;
    padding-right: 66px;
}

.login-top {
    color: white;
    font-size: 50px;
    height: 50px;

}

.ng-table th {
    text-align: left;
}

/*modal*/
.modal {
    display: block;
    overflow-y: auto;
    pointer-events: none;
}

.modal.fade.in {
    pointer-events: auto;
}

.modal-backdrop {
    z-index: 0;
    pointer-events: none;
    height: 400%;
}

.modal-dialog {
    margin: 72px auto;
}

.modal-content {
    border: none;
    /*-webkit-box-shadow: 0 5px 24px 8px rgba(0,0,0,.125);*/
    /*box-shadow: 0 5px 24px 8px rgba(0,0,0,.125);*/
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .88)
}

.modal-sm .modal-body {
    padding: 15px;
}

.modal-body {
    padding: 15px 30px;
}

.modal hr {
    margin-left: -15px;
    margin-right: -15px;
}

.modal-footer {
    border-top: none;
    padding-right: 30px;
    padding-bottom: 24px;
}

#admov {
    pointer-events: auto;
}

/*---------------------------*/
.break-space-double {
    opacity: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fixed-width-1 {
    width: 39px;
}

.fixed-width-2 {
    width: 56px;
}

.fixed-width-3 {
    width: 120px;
}

.fixed-width-4 {
    width: 256px;
}

.fixed-width-5 {
    width: 320px;
}

.fixed-width-6 {
    width: 366px;
}

.fixed-height-1 {
    height: 320px;
}

.fixed-height-2 {
    height: 4px;
}

.navbar-static-top {
    margin-bottom: 20px;
}

i {
    font-size: 16px;
}

.nav > li > a {
    color: #787878;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}

/* count indicator near icons */
.nav > li .count {
    position: absolute;
    bottom: 12px;
    right: 6px;
    font-size: 9px;
    background: rgba(51, 200, 51, 0.55);
    color: rgba(255, 255, 255, 0.9);
    line-height: 1em;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

/*modified*/
.modal-body > .list-group {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -16px;
    margin-bottom: -16px;
    border-radius: 0px;
}

.modal-body > .list-group > .list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.width-progress{
    margin-top: 10px;
}

.table.width-progress td {
    vertical-align: middle;
}

.progress.in-table {
    margin-top: 15px;
    margin-bottom: 15px;
}

.table.width-poster td {
    vertical-align: middle;
}

a {
    text-decoration: none !important;
}

.btn-sm > .glyphicon {
    font-size: 12px;
}

td {
    min-width: 4em;
}

.label > .glyphicon {
    font-size: 12px;
}

.btn-xs > .glyphicon {
    font-size: 12px;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-success {
    background-color: #5cb85c;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.font-gray {
    color: rgb(159, 158, 159);
}

.float-right {
    float: right;
}

.no-underline {
    text-decoration: none !important;
}

.cursor-default {
    cursor: default;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-top-m7 {
    margin-top: -7px;
}

.controls {
    #margin-bottom: 15px;
    margin-left: 35px;
}

.required-info:before {
    content: '*';
    color: red;
}

.page-portal a {
    cursor: pointer;
}

.break-space {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

.col-left {
    width: 180px !important;
    float: left;
    background-color: #0e2534;
    padding-top:60px;
    height: 100%;
    position: fixed;
}

.col-right {
    width: calc(100% - 180px) !important;
    float: right;
    padding-top: 25px;
    padding-left: 40px;
}

/* private */

.list-checkbox {
    min-width: 0px !important;
    width: 14px !important;
}

.list-poster {
    height: 40px;
}

.modal-poster {
    height: 120px
}

.text-mode {
    border: none;
    pointer-events: none;
    box-shadow: none;
}

.list-long-text {
    position: relative;
    width: 20em;

}

.list-long-text > span {
    position: absolute;
    width: 80%;
    height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-long-text > span:after {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 21px;
    background-color: white
}

.list-long-text > span:after {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 21px;
    background-color: white
}

.table-hover > tbody > tr:hover > .list-long-text > span:after {
    background-color: #f5f5f5
}

/*----------------------app------------------------------------------------*/
body, .app {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: white;*/
}

/*desktop*/

.desktop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 180px 60px 0px;
    display: flex;
    justify-content: center;
}

.app-top {
    position: absolute;
    top: 0;
    background-color: #198ad1;
    width: 100%;
    height: 56px;

}

.app-grid-wrapper {
    max-width: 1354px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

}

.app-grid {
    position: relative;
    min-width: 200px;
    min-height: 260px;
    flex: 16.667%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.app-icon {
    cursor: pointer;
    border-radius: 18%;
    /*background: rgba(255,255,255,.8);*/
    /*background-image: url();*/
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.app-grid > .app-icon {
    width: 188px;
    height: 219px;
    #box-shadow: 0px 10px 25px 6px rgba(0, 0, 0, .22);
    transition-duration: .3s;
}

.app-grid > .app-icon:hover {
    #box-shadow: 0px 12px 25px 8px rgba(0, 0, 0, .32);
}

/*.app-grid>.app-name{
  text-shadow: 0px 7px 21px rgba(0,0,0,0.8);
  will-change:transform;
}*/

.app-launcher-grid > .app-icon {
    position: absolute;
    #top: 10px;
    #left: 10px;
    #right: 10px;
}

.app-launcher-grid > .app-icon:before {
    content: ' ';
    display: block;
    padding-bottom: 100%;
}

.app-launcher-grid > .app-name {
    position: absolute;
    width: 100%;
    display: block;
    bottom: 1px;
    text-align: center;

}

.app-name {
    color: #468ed2;
}

.app-grid-wrapper .app-name {
    position: absolute;
    top: 150px;
    left: 66px;
}

.project-title {
    position: absolute;
    left: 10px;
    top: 6px;
    height: 43px;
    width: 120px;
}

.project-name {
    position: absolute;
    /*width:150px;*/
    height: 43px;
    color: white;
    #right: 53px;
    top: 3px;
    line-height: 46px;
    overflow: hidden;
    font-size: 18px;
    z-index: 2;
}

.avatar {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, .7);
    text-align: center;
    font-size: 24px;
    z-index: 2;
    line-height: 29px;
    cursor: pointer
}

.avatar > .list-group {
    margin-bottom: 0;
    width: 120px;
    font-size: 14px;
    text-align: left;
}

.avatar .list-group-item:nth-last-of-type(1) {
    border-radius: 0px 0px 15px 15px;
    border-bottom: none;
}

/*app*/

.top-left-block{
    position: absolute;
    height: 56px;
    width: 180px;
    top: 0;
    left: 0;
    background-color: #1374b1;
}

.app-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.app-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 112px;
}

.app-title  .app-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 36px;
    height: 36px;
    /*border-radius: 0;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    /*border: solid 1px rgba(255,255,255,.28);*/
}

.app-title  .app-name {
    position: absolute;
    margin: 0;
    left: 64px;
    line-height: 56px;
    opacity: 1 !important;
}

#main-table .app-icon {
    position: relative;
    font-style: normal;
}

.app-launcher {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.app-launcher-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    opacity: 0;
    cursor: pointer;
}

.app-launcher-mask:hover {
    opacity: 1;
}

.app-launcher-grid {
    position: relative;
    width: 56px;
    height: 56px;
    margin-left: 20px;
    /*will-change:width;*/
}

.app-launcher-grid-current {
    width: 224px;
}

.app-view {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    #padding-top: 20px;
    background-color: white;
    overflow-y: scroll;
    height: 100%;
}

.app-view-mask {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;

}

/*phase*/
.avatar.phase1 {
    color: rgb(255, 255, 255);
    width: 29px;
    height: 29px;
    overflow: hidden;
    transition-duration: .33s
}

.avatar.phase2 {
    transition-duration: .33s;
    overflow-x: hidden;
    color: rgb(55, 55, 55);
    width: 120px;
    /*height: 100px;*/
    box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, .12);
    background-color: rgba(255, 255, 255, .8)
}

.app.phase1 > .desktop {
    transition-duration: .53s;
    #transform: scale(.96);
}

.app.phase2 > .desktop {
    transition-duration: .53s;
}

.app.phase1 > .app-frame {
    transition-duration: .53s;
    transform: scale(.9);
    opacity: 0;
    pointer-events: none;
}

.app.phase2 > .app-frame {
    transition-duration: .53s;
}

.app.phase1 .project-title {
    transition-duration: .53s;
    opacity: 1;
}

.app.phase1 .project-name {
    transition-duration: .53s;
    opacity: 1;
}

.app.phase2 .project-title {
    transition-duration: .53s;
    opacity: 0;
}

.app.phase2 .project-name {
    transition-duration: .53s;
    opacity: 0;
}

.app-frame.phase1 .app-title {
    transition-duration: .33s;
}

.app-frame.phase2 .app-title {
    transition-duration: .33s;
    /*transform: translate(0px,56px); */
    /*transform: translateZ(0px);*/
    /*opacity: 0;*/
    /*height: 112px;*/
}

.app-frame.phase1 .app-launcher {
    transition-duration: .33s;
    opacity: .75
}

.app-frame.phase2 .app-launcher {
    transition-duration: .33s;
    height: 112px;
}

.app-frame.phase1 .app-launcher .app-icon {
    transition-duration: .33s;
    /*border: solid 1px rgba(255,255,255,.5) */
}

.app-frame.phase2 .app-launcher .app-icon {
    transition-duration: .33s;
    /*border: solid 1px rgba(255,255,255,0) */
}

.app-frame.phase1 .app-launcher-mask {
    transition-duration: .33s;
}

.app-frame.phase2 .app-launcher-mask {
    transition-duration: .33s;
    pointer-events: none;
    height: 112px;
    opacity: 0;
}

.app-frame.phase1 .app-name {
    transition-duration: 0s;
    opacity: 0;
    transition-delay: 0s;
}

.app-frame.phase2 .app-name {
    transition-duration: .33s;
    opacity: 1;
    transition-delay: .25s;
}

.app-frame.phase1 .app-view {
    transition-duration: .33s;
}

.app-frame.phase2 .app-view {
    transition-duration: .33s;
    transform: translate(0px, 56px);
}

.app-frame.phase1 .app-view-mask {
    transition-duration: .33s;
    pointer-events: none;
    opacity: 0
}

.app-frame.phase2 .app-view-mask {
    transition-duration: .33s;
    transform: translate(0px, 56px);
    pointer-events: inherit;
}

.app-frame.phase1 .app-launcher-grid {
    transition-duration: .33s;
}

.app-frame.phase2 .app-launcher-grid {
    transition-duration: .33s;
    width: 66px;
    height: 112px;
    margin-left: 40px;
}

.app-frame.phase1 .app-icon {

}

.app-frame.phase2 .app-icon {
    border-radius: 10px;
    position: absolute;
    top: 10px;

}

.app-frame.phase1 .app-icon-top {
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, .6);
    cursor: pointer;
    border-radius: 10px;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    margin-top: 5px;

}

.app-frame.phase2 .app-icon-top {
    #box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, .6);
    background-color: #3ea0d6;
    border-radius: 10px;
    margin-top: 10px;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 66px;
    transition-duration: .33s;
}

.app-icon-top {
    position: absolute;
    transition-duration: .33s;
    background-color: #198ad1;
    width: 100%;
    cursor: pointer;

}
/*----------------------基础样式   YXX------------------------------------------------*/
/*input中的图标*/
.span-input{
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
    position:absolute;
    left:10px;

}
.like-input{
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding: 6px 12px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-nostyle{
    border: none;
    height: 28px;
    font-size: 16px;
    width: 100%;

}

.navigation-item{
    display: block;
    height: 67px;
    padding: 23px 45px;
    margin: 0 -14px;
    color: #c6d7e2;
}

.navigation-item:hover{
    background-color: #1c313f;
    color: #c6d7e2;
    border-left: 4px solid #2384c4;
}

.navigation-item-choose{
    background-color: #1c313f;
    color: #c6d7e2;
    border-left: 4px solid #2384c4;
}

.background-right{
    background-color: #ecf0f5;
}

.container-right{
    width:100%;
    padding: 10px 15px 80px;
    background-color: #f9f9f9;
    border-radius: 2px;
}


.contain-span span{
    margin-right: 2%;
}

.btn-container-bottom{
    margin: 37px 47%;
    background-color: #198ad1;
    color: white;
}

.btn-container-bottom:hover{
    background-color: #136da5;
    color: white;
}

.blue-line{
    padding: 0!important;
    #border-bottom: 3px solid;
    #border-left: 3px solid transparent;
    #border-right: 3px solid transparent;
    height: 5px;
    border-radius:35px 35px 1px 1px;
    background:linear-gradient(to bottom, #f9f9f9, #064eb9);
    width: 100%;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Microsoft YaHei';
}

.modal-title{
    font-size: 16px;
    font-weight: bold;
    padding-left: 12px;

}

.modal-header{
    background-color: #f4f4f4;
    border-radius: 8px 8px 0 0;
}

.modal-content{
    background-color: #fff;
}

.inline-form label{
    width: 100px;
    font-weight: 500;
}

.inline-form .form-group, .inline-form span{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.inline-form input, .inline-form select, .inline-form textarea{
    width: 80% !important;
}
/*----------------------基础样式   YXX------------------------------------------------*/

/*----------------------login------------------------------------------------*/

.login-form{
    margin-top: 45px;
}

.login-btn{
    height: 48px;
    background-color: #5cb2ee;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 10px;
}

.login-btn:hover{
    background-color: #4c93c4;
    color: white;
}

/*----------------------app------------------------------------------------*/

.height100{
    height: 100%;
}


/*---------------------user--------------------------------------------*/
.one_row{
    display: inline;
}

.hospital-edit{
    cursor: pointer;
}

.user > div{
    padding: 10px 20px;
}

.info > div > div{
    width: 93% !important;
    display: inline-block;
    background-color: #f9f9f9;
}

.version-title{
    font-size: 16px;
    color: #2a6cc7;
}

/*---------------------innercut--------------------------------------------*/
.resource-card{
    margin: 7px 10px 10px;
}

.resource-options-out{
    position: relative;
    margin-top: 12px;
    margin-left: 7px;
    margin-bottom: 10px;
}

.resource-options{
    display: inline-block;
}

.input-search{
    width: 87%;   /*原来是30*/
}

.span-search{
    left: 92%;
    top: 5px;
    cursor: pointer;
}

.like-input-search{
    width: 300px;
    position: absolute;
    right: 20px;
}

.list-checkbox{
    min-width: 0 !important;
    width: 14px !important;
}

.res-btn{
    border: 1px solid #dbdbdb;
    height: 45px;
    width: 89px;
    background-color: #ffffff;
}

.res-btn:hover{
    border-top: 2px solid #2a6cc7;
    background-color: #f9f9f9;
}

.res-btn-choose{
    border-top: 2px solid #2a6cc7;
    background-color: #f9f9f9;
}

.section-select{
    position: relative;
    display: inline-block;
    width: 210px;
    height: 50px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.select-span{
    display: inline-block;
    height: 100%;
    padding : 15px 19px;
}

.section-select-right{
    height: 100%;
    margin-left: -5px;
    position: absolute;
    right: 0;
    border: none;
    border-left: 1px solid #dbdbdb;
    padding: 6px 7px;
    background-color: #f9f9f9;
    color: #2a6cc7;

}

.btn-add{
    height: 34px;
    background-color: #198ad1;
    color: white;
    margin-left: 10px;
    margin-bottom: 8px;
}

.btn-add:hover{
    background-color: #136da5;
    color: white;

}

.btn-del{
    height: 34px;
    background-color: #efefef;
    color: black;
    margin-left: 10px;
    margin-bottom: 8px;
    border: 1px solid #d8d8d8;
}

.btn-del:hover{
    background-color: #d1cfcf;
}

/*-----------------video--------------------------------*/
.btn-float{
    float: right;
    margin-left: 10px;
}

.video-option{
    height: 45px;
    width: 96px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 2px;
    padding: 12px;
    color: #666666;
}

.video-option:hover{
    border: 1px solid #dbdbdb;
    background-color: #f9f9f9;
    color: #2a6cc7;
    border-top: 2px solid #2a6cc7;
}

.video-option-choose{
    border: 1px solid #dbdbdb;
    background-color: #f9f9f9;
    color: #2a6cc7;
    border-top: 2px solid #2a6cc7;
}

.btn-upload{
    color: #666666;
    height: 31px;
    background-color: #efefef;
    border:1px solid #d9d9d9;
    border-radius: 4px;
}

.btn-upload:hover{
    color: #666666;
    background-color: #e6e5e5;
}

.btn-refresh{
    color: white;
    height: 31px;
    background-color: #198ad1;
    border:1px solid #d9d9d9;
    border-radius: 4px;
}

.btn-refresh:hover{
    color: white;
    background-color: #177dbd;
}

.video-table-head{
    color: #2a6cc7;
}

td,th{
    border: none!important;
}

.littleTypeChoose{
    background-color: lightblue;
}

.littleTypeBehav a{
    cursor: pointer;
}