<div ng-controller="innerCutPlanController as plan"  class="col-sm-9 page col-right right-position" ng-init="plan.init()">
    <h4 class="subtitle">
            插播计划
    </h4>
    <div class="container-right">
        <div class="resource-card row">
            <button class="res-btn" ng-repeat="x in plan.btns" ng-class="{'res-btn-choose':(x.ID == plan.resourceChoose.ID)}"  ng-click="plan.changeResource(x)">{{x.Name}}</button>
        <!--    <button class="btn">图片</button>
            <button class="btn">视频</button>
            <button class="btn">直播</button>
            <button class="btn">文本</button>-->
        </div>
        <div class="blue-line"></div>
        <div class="resource-options-out">
            <div class="resource-options" style="width: 100%;">
                <button class="btn resource-options btn-add" ng-click="plan.addPlan(plan.resourceChoose.ID)">添加计划</button>
                <button class="btn resource-options btn-del" ng-click="plan.delPlan()">删除计划</button>
                <div class="like-input  like-input-search" style="display: inline">
                    <input ng-model="plan.planName" placeholder="计划名称" class="input-nostyle input-search">
                    <span style="background-image: url('dist/imgs/search.png')" class="span-input span-search" ng-click="plan.getPlanList()"></span>
                </div>
            </div>
        </div>

        <table ng-table="plan.tableParams"  class="table table-hover  table-striped table-bordered resource-table" >


            <div style="overflow-x: auto">
                <div ng-show="plan.noData == true">暂无插播项</div>

                <tr ng-repeat="row in $data">

                    <td class="list-checkbox" header="'headerCheckbox.html'">

                        <input type="checkbox" ng-model="plan.checkboxes.items[row.version]" ng-change="plan.changeCheckBox()">

                    </td>

                  <!--  <td title="'序号'">{{$index}}</td>-->

                    <td title="'计划名称'">{{row.name}}</td>

                    <td title="'资源名称'" style="max-width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{row.materialName}}</td>

                    <td title="'开始时间'">{{row.starttime}}</td>

                    <td title="'结束时间'">{{row.endtime}}</td>

                    <td title="'编辑者'">{{row.editor}}</td>

                    <td title="'发布终端'">已发布到<a ng-click="plan.publish(row)"> {{row.count}} </a>个终端</td>

                    <td title="'操作'">

                        <button class="btn btn-xs btn-default"  ng-click="plan.cancel(row)" data-toggle="modal">
                            取消
                        </button>
                        <button class="btn btn-xs btn-default"  ng-click="plan.delOnePlan(row)" data-toggle="modal">
                            删除
                        </button>
                        <button class="btn btn-xs btn-default"  ng-click="plan.editPlan(row)" data-toggle="modal" ng-hide="row.count != 0">
                            编辑
                        </button>
                    </td>
                </tr>
            </div>
        </table>
    </div>
    <!--弹窗-->
    <div ng-include="plan.maskUrlPlan" class="autoscroll"></div>
    <!--弹窗-->
</div>
<script type="text/ng-template" id="headerCheckbox.html">

    <input type="checkbox" ng-model="plan.checkboxes.checked"  value="" ng-click="plan.checkAll()"/>

</script>