<div class="modal-dialog" ng-controller="addInnerCutPicController as addPic" ng-init="addPic.init()">
    <div class="modal-content">
        <div class="modal-header">
            <button ng-click="addPic.cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×
            </button>
            <h4 class="modal-title">添加图片</h4>
        </div>
        <form name="PicForm" novalidate class="form-inline inline-form" ng-submit="PicForm.$valid && addPic.saveForm()">
            <div class="modal-body">
                <div class="form-group">
                    <label>名称：</label>
                    <input type="text" class="form-control" ng-model="addPic.PicName" required>
                </div>
                <hr>

                <div class="form-group">
                    <label>图片：</label><br>
                    <input type="file" file-model="myCoverImg" data-e="none" required><br>
                    <div ng-repeat="img in addPic.uploadList.data">
                        <img width="100%" src="{{img.img.src}}" style="width:100px;height:100px;">
                        上传进度：{{img.img.percentComplete}}
                    </div>
                    <hr class="break-space">
                    <div ng-click="addPic.addCoverImg(addPic.uploadList)" class="btn btn-default">上传</div>
                </div>
                <hr>


            </div>
            <div class="modal-footer">
                <a ng-click="addPic.cancel()" class="btn">取消</a>
                <button class="btn btn-primary" type="submit" ng-disabled="PicForm.$invalid || addPic.saving ">
                    保存
                </button>

            </div>
        </form>
    </div>
</div>