<div class="col-sm-9 page col-right">
    <a>
        <strong>
            <i class="glyphicon glyphicon-upload"></i>
            插播资源
        </strong>
    </a>
    <hr>

    <div class="container">
        <div class="resource-card row">
            <button class="btn" ng-repeat="x in cut.btns"  ng-click="cut.changeResource(x)" ng-class="{'btn-choosed':(x.ID == cut.resourceChoose.ID)}">{{x.Name}}</button>
          <!--  <button class="btn">视频</button>
            <button class="btn">直播</button>
            <button class="btn">文本</button>-->
        </div>
        <hr>
        <div class="resource-options-out">
            <div class="resource-options">
                <span>资源所属：</span>
                <select ng-model="cut.sectionName" ng-options="x.Name[cut.defaultLang] for x in cut.section"></select>
            </div>
            <button class="btn resource-options" ng-click="cut.addResource(cut.resourceChoose.ID)" ng-if="cut.resourceChoose.ID != 2">添加{{cut.resourceChoose.Name}}</button>

            <button class="btn resource-options">删除{{cut.resourceChoose.Name}}</button>
            <span ng-if="cut.resourceChoose.ID == 2">视频上传请到本地视频库</span>
           <!-- <button class="btn resource-options">添加视频</button>-->
            <div class="like-input resource-options like-input-search" >
                <input ng-model="cut.resourceName" placeholder="资源名称" class="input-nostyle input-search">
                <span style="background-image: url('dist/imgs/search.png')" class="span-input span-search"></span>
            </div>
        </div>
        <hr>
        <table ng-table="cut.tableParams"  class="table table-hover  table-striped table-bordered">

            <div style="overflow-x: auto">

                <tr ng-repeat="row in $data">

                    <td class="list-checkbox" header="'headerCheckbox.html'">

                        <input type="checkbox" ng-model="cut.checkboxes.items[row.id]">

                    </td>

                    <td title="'序号'">{{row.mac}}</td>

                    <td title="'资源名称'">{{row.ip}}</td>

                    <td title="'大小'">{{视频、图片}}</td>

                    <td title="'时长'">{{视频}}</td>

                    <td title="'直播地址'">{{直播}}</td>

                    <td title="'创建人'">{{row.mac}}</td>

                    <td title="'创建时间'">{{row.statusCN}}</td>

                    <td title="'状态'">{{视频}}</td>

                    <td title="'资源所属'">{{row.upload_speed}}</td>

                    <td title="'操作'">
                        <button class="btn btn-xs btn-default"  ng-click="cut.editAP(row)" data-toggle="modal" title="编辑">
                            编辑
                        </button>
                    </td>
                </tr>
                </div>
            </table>
    </div>

</div>
<script type="text/ng-template" id="headerCheckbox.html">

    <input type="checkbox" ng-model="cut.checkboxes.checked"  value="" />

</script>
