<div class="modal-dialog" ng-controller="addSectionController as addSection" ng-init="addSection.init()">
    <div class="modal-content">
        <div class="modal-header">
            <button ng-click="addSection.cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×
            </button>
            <h4 class="modal-title">添加分区</h4>
        </div>
        <form name="sectionForm" novalidate ng-submit="sectionForm.$valid && addSection.saveForm()">
            <div class="modal-body">
                <div class="form-group">
                            <span ng-repeat="lang in addSection.editLangs track by $index">
                                <label>分区名-{{lang.name}}</label>
                                <input type="text" class="form-control" ng-model="addSection.sectionName[lang.code]"
                                       required>
                            </span>
                </div>
                <hr>

                <div class="form-group">
                    <label>分区图标</label><br>
                    <input type="file" file-model="myCoverImg" data-e="none" required><br>
                    <div ng-repeat="img in addSection.uploadList.data">
                        <img width="100%" src="{{img.img.src}}" style="width:100px;height:100px;">
                        上传进度：{{img.img.percentComplete}}
                    </div>
                    <hr class="break-space">
                    <div ng-click="addSection.addCoverImg(1,addSection.uploadList)" class="btn btn-default">上传</div>
                </div>
                <hr>

                <div class="form-group">
                    <label>分区高亮图标</label><br>
                    <input type="file" file-model="myCoverImgHigh" data-e="none" required><br>
                    <div ng-repeat="img1 in addSection.uploadListHigh.data">
                        <img width="100%" src="{{img1.img.src}}" style="width:100px;height:100px;">
                        上传进度：{{img1.img.percentComplete}}
                    </div>
                    <hr class="break-space">
                    <div ng-click="addSection.addCoverImg(2, addSection.uploadListHigh)" class="btn btn-default">上传</div>
                </div>
                <hr>

            </div>
            <div class="modal-footer">
                <a ng-click="addSection.cancel()" class="btn">取消</a>
                <button class="btn btn-primary" type="submit" ng-disabled="sectionForm.$invalid || addSection.saving ">
                    保存
                </button>

            </div>
        </form>
    </div>
</div>