<div ng-controller="notEditedListController as notEditedList" ng-init="notEditedList.init()" class="col-sm-9 page col-right">
    <h4 class="subtitle">
            待入库
    </h4>
    <div class="container-right">
        <div class="resource-options-out">
            <div class="btn-group">
                <a class="resource-options video-option btn" ng-class="{'video-option-choose':(notEditedList.current == 1)}" ng-click="notEditedList.getTranscodeTaskList(1)">电影资源</a>
                <a class="resource-options video-option btn" ng-class="{'video-option-choose':(notEditedList.current == 2)}" ng-click="notEditedList.getTranscodeTaskList(2)">宣教资源</a>
            </div>
            <div class="btn-group btn-float">
                <button type="button" class="btn btn-upload" ng-click="">上传</button>

            </div>
        </div>
        <div class="blue-line"></div>
        <table class="table table-hover table-condensed width-progress">
            <thead>
            <tr class="video-table-head">
                <th>名称</th>
                <th>大小</th>
                <th>操作</th>
            </tr>
            </thead>
            <div ng-show="notEditedList.loading">loading....</div>
            <tbody>
            <tr data-copy="10" ng-repeat="task in notEditedList.taskList track by $index">
                <td>{{task.FileOrigName}}</td>
                <td>{{task.Size}} 字节</td>
                <td>
                    <button ng-click="notEditedList.add(task)" class="btn btn-xs btn-default" data-toggle="modal" title="入库" data-target="#film-edit">
                        <i class="glyphicon glyphicon-film"></i> 入库
                    </button>
                    <button ng-click="notEditedList.delMovie(task.ID)" class="btn btn-xs btn-default" title="删除">
                        <i class="glyphicon glyphicon-remove"></i> 删除
                    </button>
                </td>
            </tr>
            </tbody>
            <div ng-show="notEditedList.noData">查无数据</div>
        </table>
    </div>


</div>