<div class="modal-dialog" ng-controller="addSmallSectionController as addsmall" ng-init="addsmall.init()">
    <div class="modal-content">
        <div class="modal-header">
            <button ng-click="addsmall.cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×
            </button>
            <h4 class="modal-title">添加子科室</h4>
        </div>
     <div class="container">
         <div class="row">
             <div class="col-xs-2" ng-repeat="">

             </div>

         </div>
     </div>
    </div>
</div>