<div ng-controller="hospitalManageController as hosm" ng-init="hosm.init()" class="col-sm-9 page col-right right-position">
        <h4 class="subtitle">
            <!--<i class="glyphicon glyphicon-th-large"></i>-->
            医院管理
        </h4>
    <!--loading-->
    <div ng-show="hosm.loading">loading...</div>
    <!--loading-->
    <div class="container-right user">
        <div class="row hos-menage-head">
            <h4 class="one_row">{{hosm.hospitalData.Name[hosm.defaultLang]}}</h4><img src="dist/imgs/edit-icon.png" ng-click="hosm.editHospital()" class="hospital-edit">
            <button class="btn sec-add-btn" ng-click="hosm.addSection()">添加分区</button>
        </div>
        <div class="blue-line"></div>
        <div class="row">
            <!--左侧分区-->

            <div class="col-xs-12">
                <div class="row">

                </div>
                <div class="row">
                    <div>
                        <ul class="hos-manage-ul">
                            <li ng-repeat="section in hosm.hospitalData.Section" class="list-group-item" ng-if="section.ID != -1">
                                {{section.Name[hosm.defaultLang]}}
                         <!--       <a ng-click="hosm.showSections(section)"  class="pull-right">分区</a>-->

                                <a ng-click="hosm.deleteSection(section.ID)"  class="pull-right" ng-hide="section.ID == 0"> &nbsp;删除&nbsp;</a>
                                <a ng-click="hosm.editSction(section)" class="pull-right" ng-hide="section.ID == 0">编辑</a>
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
           <!-- <div class="col-xs-1"></div>-->
            <!--右侧科室-->
            <div class="col-xs-6">
               <ui-view></ui-view>
            </div>
        </div>
    </div>

</div>
