<div ng-controller="transcodingListController as tl" ng-init="tl.init()" class="col-sm-9 page col-right">
    <h4 class="subtitle">
            转码模块
    </h4>
    <div class="container-right">
        <div class="resource-options-out">
            <div class="btn-group">
                <a class="resource-options video-option btn" ng-class="{'video-option-choose':(tl.current == 1)}" ng-click="tl.getTranscodeTaskList(1)">电影资源</a>
                <a class="resource-options video-option btn" ng-class="{'video-option-choose':(tl.current == 2)}" ng-click="tl.getTranscodeTaskList(2)">宣教资源</a>
            </div>
            <div class="btn-group btn-float">
                <button type="button" class="btn btn-upload" ng-click="tl.upload();">上传</button>

            </div>
            <div class="btn-group btn-float">
                <button type="button" class="btn btn-refresh" ng-click="tl.refresh();">刷新列表</button>

            </div>
        </div>
        <div class="blue-line"></div>

        <table class="table table-hover table-condensed width-progress ">
            <thead>
            <tr class="video-table-head">
                <th>名称</th>
         <!--       <th>大小</th>-->
                <th>进度</th>
      <!--          <th>剩余</th>-->
                <th>描述</th>
                <!-- <th>操作</th> -->
            </tr>
            </thead>
            <div ng-show="tl.loading">loading....</div>
            <tbody>
            <tr ng-repeat= "task in tl.taskList track by $index">
                <td>{{task.FileOrigName}}</td>
              <!--  <td>{{task.Size}} 字节</td>-->
                <td>
                    <div class="progress in-table">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{task.TranscodePercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task.TranscodePercent}}%;min-width: 2em;">
                            {{task.TranscodePercent}}%
                        </div>
                    </div>
                </td>
              <!--  <td>{{task.Size*(100-task.TranscodePercent)/100}} 字节</td>-->
                <td>{{task.TranscodeFailInfo}}</td>
                <!-- 删除先不做 -->
                <!--<td>
                    <button class="btn btn-xs btn-default" title="删除">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td> -->
            </tr>
            </tbody>
        </table>
        <div ng-show="tl.noData">视频已完成转码，请在待入库或者已入库中查看！</div>
    </div>

</div>