<div ng-controller="userManageController as userm" ng-init="userm.init()" class="col-sm-9 page col-right">
    <a>
        <strong>
            <i class="glyphicon glyphicon-list-alt"></i>
            用户管理
        </strong>
    </a>
    <hr>
    <!--loading-->

    <div ng-show="userm.loading">loading...</div>
    <!--loading-->
    <div>
        <label>所属科室: </label>
        <select ng-model="userm.sectionId" ng-options="x.Name[userm.defaultLang] for x in userm.section" ng-change="userm.changeSection(x.ID)"></select>
    </div>

    <div>
        <div class="container">
            <table ng-table="userm.tableParams" ng-show="!userm.loading" class="table table-hover">
                <tr ng-repeat="row in $data track by $index">
                    <td title="'账号'">
                        {{row.Account}}
                    </td>
                    <td title="'姓名'">
                        {{row.Name}}
                    </td>
                    <td title="'所属科室'">
                        {{row.IP}}
                    </td>
                    <td title="'操作'">
                        <a class="btn btn-default" ng-click="userm.editUser(row)">编辑</a>
                        <a class="btn btn-default" ng-click="userm.resetPwd(row.ID)">重置密码</a>
                        <a class="btn btn-default" ng-click="userm.delUser(row.ID)">删除</a>
                    </td>
                   
                </tr>
            </table>
        </div>
    </div>


</div>
